<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
@font-face {
    font-family: 'SaenggeoJincheon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/SaenggeoJincheon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'SaenggeoJincheon' !important;
	font-size: 125px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
</style>
<body>
<div class="wrapper">
  <div class="content">신발팜</div>
</div>
</body>
</html>